@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Roboto+Condensed&family=Lobster:wght@300&display=swap');

$color-primary: #3046c5;
$color-secondary: #5637dd;
$color-pale: #cec8ff;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0,0,0,0.5);
$color-teal: #17A2B8;

$body-font: "Roboto Condensed", sans-serif;
$header-font: "Charmonman", cursive;

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header {
     h2 {
        color: $color-pale;
    }
}

.site-footer {
    background-image:linear-gradient($color-pale, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color:white;
    margin:0;
}

.row-content{
    padding: 50px 0;
    min-height:200px;
}
.row-content-border {
    border-bottom: 1px ridge lightgray;
}
.navbar {
    background-color: $color-mid;
}
.tab-content {
    border:1px solid #DDD;
    border-top:none;
    padding:10px;
}
.carousel-caption {
    background-color: $color-black-transparent;
}
.carousel {
    border: solid $color-secondary;
}
#carouselButton {
    position: absolute;
    right:0;
    bottom:0;
    z-index:100;
}
#reserveModal {
    .modal-header {
        background-color: $color-teal;
        color: #fff;
    }
}
#loginModal {
    .modal-header {
        background-color: $color-mid;
        color: #fff;
    }
}