@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Roboto+Condensed&family=Lobster:wght@300&display=swap');
body {
    font-family: "Roboto Condensed", sans-serif;
}

h1, h2, h3 {
    font-family: "Charmonman", cursive;
}

h2 {
    color: #3046c5;
}

header h2 {
    color: #000;
}

.site-footer {
    background-image: linear-gradient(to right, #A6D7F5, #A0D5F5, #90AEF5);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #A6D7F5, #A0D5F5, #90AEF5);
    color:#000;
    margin:0;
}

.row-content{
    padding: 50px 0;
    min-height:200px;
}
.row-content-border {
    border-bottom: 1px ridge lightgray;
}
.navbar {
    background-color: #901CAD;
    border-top:#901CAD 1px solid;
}
.tab-content {
    border:1px solid #DDD;
    border-top:none;
    padding:10px;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel {
    border: solid #5637dd;
}
.logo-bg{
    background-color:white;
    opacity:.6;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}
.logo-nb {
    padding: 0 0 5px 5px;
}
.breadcrumb {
    background:none;
}
.card-body {
    border-top: #901CAD 1px solid;
}
.footer-links a {
    color:rgba(0, 0, 0, 0.5);
}